@import "../../styles/partials/variables";
@import "../../styles/partials/mixins";
@import "../../styles/partials/typography";

.upload {
    margin: 1.5rem 1rem 0;

    @include tablet {
        margin: 1.5rem 1.25rem 0;
    }

    @include desktop {
        margin: 0 6.25rem;
    }

    &__divider {
        @include divider;
        margin-bottom: 2.5rem;
    }

    &__title {
        @include heading-1;

        @include tablet {
            padding-bottom: 2rem;
            border-bottom: .0313rem solid $sitesecondarymercury
        }
    }

    &__video {
        display: flex;
        height: 9.5625rem;
        width: 18rem;
        border-radius: .3125rem;
        margin-bottom: 1.25rem;
        margin-top: .625rem;

        @include tablet {
            width: 21.5rem;
            height: 11.4375rem;
        }
    }

    &__videotitle {
        @include textarea;
        margin-bottom: 1.25rem;
        line-height: 2.5rem;
    }

    &__textarea {
        @include textarea;
        margin-bottom: 1.25rem;
    }

    &__buttons {
        display: flex;
        flex-direction: column;
        margin-bottom: 1.875rem;

        @include tablet {
            flex-direction: row-reverse;
        }

        @include desktop {
            border-top: .0313rem solid $sitesecondarymercury;
            padding-top: 1.875rem;
        }
    }

    &__submit {
        @include button;
        height: 2.5rem;
        font-size: 1rem;
        width: 100%;
        display: flex;
        align-content: stretch;
        align-items: flex-start;
        flex-direction: column-reverse;
        flex-wrap: wrap;

        @include tablet {
            margin-left: 1.875rem;
            width: 10rem;
        }
    }

    &__cancel {
        @include button-reverse;
        height: 2.5rem;
        font-size: 1rem;
    }

    &__label {
        font-family: "Avenir Demi Bold", sans-serif;
        color: $siteprimarysilver;

        @include tablet {
            font-size: 0.8rem;
        }
    }

    &__videocontainer {
        @include desktop {
            display: inline-flex;
            flex-direction: column;
            width: fit-content;
            margin-right: 1.5rem;
        }
    }

    &__textcontainer {
        @include desktop {
            display: inline-flex;
            flex-direction: column;
            width: 60%;
        }
    }

    @mixin textinput {
        font-family: "Avenir Regular", sans-serif;
        background-color: $sitesecondaryalabaster;
        border: .0625rem solid $sitesecondarymercury;
        border-radius: .1875rem;
        width: 100%;
        line-height: 2em;
        padding-left: .625rem;
        margin-top: .625rem;
        margin-bottom: .625rem;
        box-sizing: border-box;
    }
}