// Breakpoints

$mobile: 320px;
$tablet: 768px;
$desktop: 1200px;

// Colors

$siteprimaryblack: #323232;
$sitesecondaryblack: #000000;
$siteprimarywhite: #FFFFFF;
$sitesecondarymercury: #E1E1E1;
$sitesecondaryalabaster: #FAFAFA;
$siteprimarywsilver: #AFAFAF;
$red: #D63447;

$siteprimaryblue: #0095FF;
$sitesecondaryblue: #0065AD;