@font-face {
  font-family: "Avenir Regular";
  src: url("../../assets/font/AvenirNextLPro - AvenirNextLTPro-Regular.otf");
}
@font-face {
  font-family: "Avenir Demi Bold";
  src: url("../../assets/font/AvenirNextProLT - AvenirNextLTPro-Demi.otf");
}
@font-face {
  font-family: "Avenir Bold";
  src: url("../../assets/font//AvenirNextProLT - AvenirNextLTPro-Bold.otf");
}
@font-face {
  font-family: "Avenir Regular";
  src: url("../../assets/font/AvenirNextLPro - AvenirNextLTPro-Regular.otf");
}
@font-face {
  font-family: "Avenir Demi Bold";
  src: url("../../assets/font/AvenirNextProLT - AvenirNextLTPro-Demi.otf");
}
@font-face {
  font-family: "Avenir Bold";
  src: url("../../assets/font//AvenirNextProLT - AvenirNextLTPro-Bold.otf");
}
.header {
  margin-left: 16px;
  margin-right: 16px;
  height: 169px;
  padding-top: 20px;
  display: flex;
  flex-wrap: wrap;
}
@media screen and (min-width: 768px) {
  .header {
    flex-wrap: nowrap;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 10px;
    height: 80px;
  }
}
@media screen and (min-width: 1200px) {
  .header {
    margin-left: 100px;
    margin-right: 100px;
  }
}
.header__image {
  text-align: center;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .header__image {
    text-align: start;
    width: 20%;
    margin-right: 80px;
  }
}
@media screen and (min-width: 1200px) {
  .header__image {
    width: 0;
    margin-right: 509px;
  }
}
.header__logo {
  height: 30px;
  margin-bottom: 8px;
}
@media screen and (min-width: 1200px) {
  .header__logo {
    height: 25px;
  }
}
.header__form {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .header__form {
    margin-right: 24px;
  }
}
.header__search {
  font-family: "Avenir Regular";
  width: 100%;
  height: 50px;
  margin-bottom: 8px;
  background: url(../../assets/icons/svg/Icon-search.svg) no-repeat scroll 7px 15px;
  background-color: #FAFAFA;
  padding-left: 35px;
  border: 1px solid sitesecondarymercury;
  border-radius: 5px;
}
@media screen and (min-width: 768px) {
  .header__search {
    margin-bottom: 0;
    font-size: 1rem;
  }
}
@media screen and (min-width: 1200px) {
  .header__search {
    font-size: 0.9rem;
  }
}
.header__button {
  font-family: "Avenir Bold", sans-serif;
  background-color: #0095FF;
  border: none;
  border-radius: 5px;
  color: #FFFFFF;
  height: 100%;
  cursor: pointer;
  transition: 1s;
  width: 70%;
  margin-right: 20px;
  font-size: 1.2rem;
  height: 80%;
}
.header__button:hover {
  background-color: #0065AD;
}
@media screen and (min-width: 768px) {
  .header__button {
    font-size: 1rem;
  }
}
@media screen and (min-width: 768px) {
  .header__button {
    width: 60%;
    height: 50px;
  }
}
.header__upload {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .header__upload {
    align-items: center;
    justify-content: space-around;
  }
}
.header__profile-picture {
  width: 50px;
  height: 50px;
  border-radius: 100%;
}
@media screen and (min-width: 768px) {
  .header__profile-picture {
    width: 50px;
    height: 50px;
  }
}/*# sourceMappingURL=Header.css.map */