@import "../../styles/partials/variables";
@import "../../styles/partials/mixins";
@import "../../styles/partials/typography";

.video-details {
    margin: 1.25rem 1rem;

    @include tablet {
        margin: 1.25rem 1.25rem;
    }

    @include desktop {
        width: 50%;
        display: inline-flex;
        flex-direction: column;
        margin: 0rem 1.25rem 0 6.25rem;
        border-right: .0313rem solid $sitesecondarymercury
    }

    &__video-title {
        @include heading-1;
        margin-bottom: 0;
        font-size: 1.6rem;

        @include tablet {
            font-size: 1.8rem;
        }
    }

    &__channel {
        display: flex;
        align-items: center;
        margin-bottom: .3125rem;

        @include tablet {
            display: inline-flex;
        }

        @include desktop {
            margin-bottom: 0;
        }

        &-author {
            @include heading-3;
            font-size: 1.2rem;
            margin-right: .625rem;

            @include desktop {
                font-size: 0.8rem;
            }
        }

        &-date {
            @include paragraph;
            color: $siteprimarysilver;

            @include desktop {
                font-size: 0.8rem;
            }
        }
    }

    &__icons {
        display: flex;
        margin-bottom: 1.875rem;

        @include tablet {
            display: inline-flex;
            margin-left: 40%;
        }

        @include desktop {
            margin-left: 35%;
            font-size: 0.8rem;
            margin-bottom: 0rem;
        }

        span {
            margin-right: .625rem;
            margin-left: .625rem;
            @include paragraph;

            @include desktop {
                font-size: 0.8rem;
            }
        }
    }

    &__divider {
        border: .0313rem solid $sitesecondarymercury;

        @include desktop {
            width: 100%;
        }
    }

    &__summary {
        @include paragraph;
        font-size: 0.9rem;
        line-height: 1.375rem;

        @include tablet {
            margin-top: 1.875rem;
        }

        @include desktop {
            margin-top: .625rem;
            font-size: 0.8rem;
        }
    }

    &__title {

        &-conversation {
            @include heading-2;
            margin-top: 1.875rem;

            @include tablet {
                margin-top: 3.125rem;
            }

            @include desktop {
                font-size: 1rem;
            }
        }
    }

    &__joinconversation {
        display: flex;
        margin-bottom: 2.5rem;

        &-row {
            display: flex;
            margin-top: .625rem;
        }

        &-heading {
            color: $siteprimarysilver;
            font-weight: 400;
            font-family: sans-serif;
            font-size: .875rem;


            @include tablet {
                display: inline-block;
            }

            @include desktop {
                font-size: 0.8rem;
            }
        }

        &-picture {
            display: inline;
            margin-top: 1.25rem;
            margin-right: 1.25rem;
        }

        &-profilepicture {
            width: 3.125rem;
            height: 3.125rem;
            border-radius: 100%;
        }

        &-details {
            margin: 0;
            flex-grow: 1;

            @include tablet {
                display: flex;

                flex-wrap: wrap;
                align-items: center;
            }

            &-title {
                @include tablet {
                    width: 100%;
                }
            }
        }

        &-submit-button {
            @include tablet {
                width: 8.75rem;
            }
        }

        &-submit {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            @include button;


            width: 100%;
            height: 3.125rem;
            font-size: 1rem;


            @include desktop {
                width: 90%;
                height: 2.5rem;
                font-size: 0.8rem;
            }
        }

        textarea {
            @include textarea;

            @include tablet {
                width: 70%;
                margin-right: 1.875rem;
                height: 3.125rem;
                font-size: 1rem;
                line-height: 2.5rem;
            }

            @include desktop {
                font-size: 0.8rem;
                margin-right: 1rem;
                height: 2.5rem;
                line-height: 2.0625rem;
            }
        }

        &-form {
            width: 100%;
        }
    }

    &__comments {
        margin-bottom: 2.5rem;
        display: flex;
        flex-direction: column;
        margin-top: 2rem;

        &-card {
            display: flex;
            border-bottom: .0625rem solid $sitesecondarymercury;

            &:first-of-type {
                border-top: .0625rem solid $sitesecondarymercury;
            }
        }

        &-profilepicture {
            margin-top: .75rem;
            margin-right: 1.25rem;


            img {
                width: 3.125rem;
                height: 3.125rem;
                border-radius: 100%;
                object-fit: cover;
                background-color: $sitesecondarymercury;


                @include tablet {
                    width: 1.875rem;
                    height: 1.875rem;
                }
            }
        }

        &-details {
            p {
                display: inline-block;
            }

            &>p {
                margin-top: 0;
            }
        }

        &-nameanddate {
            @include paragraph;
            display: flex;
            justify-content: space-between;


            &-name {
                font-family: "Avenir Demi Bold", sans-serif;
                font-size: 0.9rem;

                @include tablet {
                    margin-right: .625rem;
                }

                @include desktop {
                    font-size: 0.8rem;
                }
            }

            &-date {
                color: $siteprimarysilver;
                font-size: 0.9rem;

                @include tablet {
                    margin-right: .625rem;
                }


                @include desktop {
                    font-size: 0.8rem;
                }
            }
        }

        &-comment {
            @include paragraph;

            font-size: 0.9rem;

            @include desktop {
                font-size: 0.8rem;
                padding-right: .3125rem;
            }
        }
    }
}